.img-width {
  width: 100px;
  height: 100px;
  background: transparent lightblue;
}
.lance-box {
  background-color: lightblue;
  text-align: center;
  border-radius: 10px;
  color: black;
  padding: 10px 5px;
}
.buy-btn {
  width: 80%;
  border: none;
  border-radius: 10px;
}
.buy-btn:hover {
  background-color: orange;
}
